
Cool-Computer-Scientists/Cool-Computer-Scientists/Team.cpp

Cool-Computer-Scientists/Cool-Computer-Scientists/Team.h

Cool-Computer-Scientists/Cool-Computer-Scientists.xcodeproj/project.xcworkspace/xcuserdata/et.xcuserdatad/UserInterfaceState.xcuserstate

Cool-Computer-Scientists/Cool-Computer-Scientists.xcodeproj/project.pbxproj

Cool-Computer-Scientists/Cool-Computer-Scientists.xcodeproj/xcuserdata/et.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist
